.loading-container {
    height: 100vh;
    overflow: hidden;
    background-image: url("../../assets/images/background_lvl2.png");
    background-size: cover;
    background-position: center;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
}

.loading-content {
    position: relative;
    width: 100%;
    height: 100%;
}

.tooth-animation {
    width: 331px;
    height: 235px;
    position: absolute;
    top: calc(50% - 84px);
    left: 50%;
    transform: translate(-50%, -50%);
}

.circular-loader {
    position: absolute;
    bottom: 52px;
    left: 50%;
    transform: translateX(-50%);
    width: 116px;
    height: 116px;
}

.progress-ring {
    width: 100%;
    height: 100%;
    transform: rotate(90deg); 
    transform-origin: center;
}

.progress-ring__circle-bg {
    fill: none;
    stroke: #2C2C2C;
    opacity: 0.8;
}

.progress-ring__circle {
    fill: none;
    stroke: url(#progressGradient);
    transition: stroke-dashoffset 0.2s linear;
}

.loader-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    font-weight: 600;
    color: white;
}

@keyframes float {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}